@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:
    url(./Inter-Regular/Inter-Regular.woff2) format("woff2"),
    url(./Inter-Regular/Inter-Regular.woff) format("woff"),
    url(./Inter-Regular/Inter-Regular.ttf) format('truetype'),
    url(./Inter-Regular/Inter-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src:
    url(./Inter-Medium/Inter-Medium.woff2) format("woff2"),
    url(./Inter-Medium/Inter-Medium.woff) format("woff"),
    url(./Inter-Medium/Inter-Medium.ttf) format('truetype'),
    url(./Inter-Medium/Inter-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src:
    url(./Inter-SemiBold/Inter-SemiBold.woff2) format("woff2"),
    url(./Inter-SemiBold/Inter-SemiBold.woff) format("woff"),
    url(./Inter-SemiBold/Inter-SemiBold.ttf) format('truetype'),
    url(./Inter-SemiBold/Inter-SemiBold.otf) format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src:
    url(./Inter-ExtraBold/Inter-ExtraBold.woff2) format("woff2"),
    url(./Inter-ExtraBold/Inter-ExtraBold.woff) format("woff"),
    url(./Inter-ExtraBold/Inter-ExtraBold.ttf) format('truetype'),
    url(./Inter-ExtraBold/Inter-ExtraBold.otf) format('opentype');
}
