.insta__cover {
  margin-bottom: 100px;
  min-height: 130px;
  padding-top: 17px;
}

@media screen and (max-width: 1280px) {
  .insta__cover {
    padding-top: 18px;
    min-height: 130px;
    margin-bottom: 91px;
  }
}

@media screen and (max-width: 768px) {
  .insta__cover {
    margin-bottom: 76px;
  }
}

@media screen and (max-width: 475px) {
  .insta__cover {
    margin-bottom: 50px;
    min-height: 80px;
    padding: 15px 0;
  }
}
